<footer class="footer" style="background-color:#000000">
  <div id="wrap">
    <div id="main" class="container clear-top">
      <div class="row">
        <div class="span12">
          <div class="section clearer">
              <div class="item item-left">
              <p class="footer-copyright">© 2015-2016 PISTIS. All rights reserved. A product of ALSTER S.A. DE C.V.</p>
              </div>

              <div class="fbicon">
                  <%= image_tag '/assets/facebook.png', :size => '30x30', :hspace => '5' %>
              </div>

              <div class="twicon">
                  <%= image_tag '/assets/twitter.png', :size => '30x30', :hspace => '5' %>
              </div>

              <div class="pticon">
                    <%= image_tag '/assets/twitter.png', :size => '30x30', :hspace => '5'%>
              </div>

          </div>
          </div>
        </div> <!-- end: footer-container2 -->
      </div> <!-- end: footer-container -->
    </div>
</footer>
