<div id="push">
  <div class="wrapper">
    <div class="push">
    </div>
  </div>
  <div class="footer">
    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <nav>
          <div class="item">
            <p class="footer-copyright pull-left">© 2017-2018 ALSTER SA DE CV. All rights reserved.</p>
            <div class="icon pull-right">
              <%= link_to image_tag('/assets/facebook.png', :size => '30x30', :hspace => '5'),"https://www.facebook.com/pistismex" %>
              <%= link_to image_tag('/assets/twitter.png', :size => '30x30', :hspace => '5'),"https://twitter.com/pistismex" %>
              <%= link_to image_tag('/assets/twitter.png', :size => '30x30', :hspace => '5'),"https://www.instagram.com/pistismex/" %>
            </div>
          </div>
        </nav>
      </div>
    </footer>
  </div>
</div>
