.navbar {
  .container {
    height: 5em;
  }
  border-radius: 0;
  margin-bottom: 40px;
  background-color: #002F49;
    .navbar-brand {
    font-weight: bolder;
    .light {
      font-weight: 300;
    }

    .img-responsive2 {
        display: inline-block;
        max-width: 60%;
        height: auto;
     }
  }
  .navbar-toggler {
    outline: none;
  }
}

/*search bar and submit button*/
.navbar-form {
  padding-top: 16px;
  padding-bottom: 0px;
  .form-control{
    padding: 6px 68px;
    text-align: left;
  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
}

.navbar-nav {
  padding-top: 25px;
  padding-bottom: 0px;
  a.nav-link.active {
    background-color: #002F49;
    color: #ffffff;
    font-weight: bold;
  }
}


.collapse-bg {
  padding: 0 !important;
  .card {
    position: relative;
    margin-bottom: 50px;
    border-radius: 0;
    border: none;
  }
}

.collapse-bg .card .list-group-item {
  padding: 0;
  border-radius: 0 !important;
  border-color: black;
  a {
    background-color: #002F49;
    color: #002F49;
    width: 100%;
    height: 100%;
    &:active {
      color: #002F49;
      border-bottom: none;
    }
  }
}