.posts.index {
  .card {
    border: none;
    border-radius: 1px;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .card-title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .published-date {
        font-size: 1.2rem;
        font-weight: bold;
        color: #285caf;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 1.6rem;
        color: black;
      }
      .tags {
        margin-bottom: 0;
        a {
          font-family:'Lobster', cursive;
          font-size: 20px !important;
        }
      }
    }
  }
}

#upleft {
  width: 800px;
  height: auto;
  background-color: white;
  float: left;
}

#upright {
  width: 300px;
  height: auto;
  background-color:gainsboro;
  float: right;
}


.posts.edit, .posts.new {
  .card {
    .card-block{
      background-color: #f7f7f9;
    }
    .card-title{
      margin-bottom: 0px;
      font-size: 18px;
    }
    .list-group-item{
      pdding: 5px;
      border-left: 0px;
      border-right: 0px;
      input[type='text'], textarea{
        font-size: 14px;
        background-color: #f7f7f9;
      }
      textarea{
        height: 100px;
      }
      &:last-child {
        background-color: #f7f7f9;
      }
    }
  }
}

.posts.show {
  .author-bio{
    background-color: white;
    padding: 15px 45px;
    margin: 30px 0;
    img{
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
    img, h4{
      margin-bottom: 10px;
    }
    h4{
      font-weight: bold;
      font-size: 18px;
    }
    h6{
      font-weight: 300;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 959px) {
  #container {
    width: 100%;
  }
  #upleft {
    width: 70%;
  }
  #uright {
    width: 30%;
  }
  img{
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  #upleft {
    width: 100%;
  }
  #uright {
    width: 100%;
  }
}

@media screen and (max-width: 3200px) {
  #container{
    width: 320px ;
  }
}